.vh-max {
  height: 100vh;
}

.pt-3-half {
  padding-top: 1.4rem;
}

.btn-add-request {
  padding-left: 25px;
  padding-right: 25px;
}

.btn-fliter {
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 8px;
}

.msg-error {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  color: red;
}

.info {
  margin-bottom: 15px;
  padding: 4px 12px;
  background-color: #e7f3fe;
  border-left: 6px solid #2196F3;
}

@import "vue-select/dist/vue-select.css";

.vs--searchable .vs__dropdown-toggle {
  width: 100%;
  min-width: 245.54px;
  white-space: nowrap;
  max-height: 31px;
  height: calc(1.5em + 0.5rem + 2px);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: 0.875rem;
}

.vs__selected {
  margin: 0;
  padding-bottom: 3px;
  padding-left: 0;
}

.vs__actions {
  padding: 0;
  margin-right: 5px;
}

.vs__clear {
  margin-bottom: 2px;
}

.form-change {
  margin: 0 auto;
  width: 60%;
}

